# OS, IDE, ...
.DS_Store
.vscode

# tests and example files
packages/example
packages/**/coverage
packages/**/__test__
packages/**/__tests__
packages/**/*.test.js
packages/**/*.test.ts
packages/**/*.test.tsx

# logs and development
*.log
.coveralls.yml
tmp